/* Dark Google+ Theme */

@-moz-document domain(plus.google.com),
domain(notifications.google.com) {
    /* Googleロゴ */
    a.xdjHt.FYQzvb,
    .xdjHt.FYQzvb.ex5ZEb,
    div.KSpDGb {
        background-image: url('/*[[logo]]*/');
        opacity: 1;
    }
    /* 通知アイコン(モバイル) */
    c-wiz.JX8add.zC7z7b {
        background-color: #0000;
        background-image: url(https://www.gstatic.com/images/icons/material/system/2x/notifications_white_24dp.png);
    }
    /* 通知アイコン */
    div.gb_Qc {
        color: #000000;
    }
    a.gb_b .gb_Rc {
        background-color: #ffffff;
    }
    /* アイコン、ボタン */
    svg.XSVuue,
    div.BKTYVb,
    .fKz7Od,
    .boBsWd.glaWld svg path,
    .iWO9fc .mUbCce:hover svg,
    .yxaWLe:hover svg.Z5nyse,
    .XVzU0b.J3yWx circle,
    .XVzU0b circle,
    c-wiz.s49ete .XS1fT path {
        fill: #ffffff;
        color: #ffffff;
    }
    a.M9kDrd.rTaXUb svg.DCYkOe svg.Z5nyse,
    div.iWO9fc .mUbCce svg {
        fill: #E0E0E0;
    }
    div.GsLz7c,
    .bYmF4e {
        background-color: #E0E0E0;
    }
    a.M9kDrd .DCYkOe,
    div.Nb2Prf .M9kDrd {
        color: #E0E0E0;
    }
    /* ホバー、フォーカス */
    a.gb_b:hover .gb_Qc,
    .gb_b:focus .gb_Qc,
    .gb_b:hover .gb_Rc,
    .gb_b:focus .gb_Rc {
        background-color: #9E9E9E;
    }
    /* ダークボタン */
    div.XHsn7e {
        background-color: #212121;
    }
    /* 検索ボックス */
    div.d1dlne {
        color: #ffffff;
    }
    div.f81Q3b.u3bW4e.Or9bCd .yuvn1 {
        color: rgba(255, 255, 255, 0.4);
    }
    /* リンク、青文字ボタン */
    a,
    span.SA9gPc,
    .jBMwef,
    div.gb_3b,
    .gb_ub a,
    #gb .gb_ub.gb_ub a,
    div.NUlPgb,
    .NUlPgb .RhSDcd,
    .NUlPgb .M6K0rc,
    .HKdIKd,
    .q71Plf .RH4Xh.DZW8fd,
    .r0Zllb {
        color: #2196F3;
    }
    /* 透過 */
    li.gb_Z:hover span.gb_3,
    div.ubsg2b,
    .ZFr60d.CeoRYc,
    .q71Plf .RH4Xh {
        background-color: #0000;
    }
    div.ahil4d.qhIQqf::after,
    .fu5e3b.qhIQqf::after,
    .J3fjEb.qhIQqf::after,
    .UvY6Nd.qhIQqf::after,
    .R6Ozpf.qhIQqf::after,
    .uhswne.qhIQqf::after {
        background: #0000;
    }
    span.DPvwYc.rRPL7d {
        color: #0000;
    }
    /* ツールバー、下部ナビゲーションバー(モバイル版) */
    div.XS1fT {
        background: /*[[top_bar]]*/;
    }
    div.BtzyG {
        background-color: /*[[b_nav_bar]]*/;
    }
    /* バー、カード、ダイアログの色 */
    a.gZXxHe,
    .Thkwg,
    .gb_ka.gb_Mf,
    .gb_1b,
    .sJxH5c,
    .w2Aa4,
    ul.gb_ia.gb_ba,
    .gb_ia.gb_ca,
    .gb_ea,
    div.Ihwked,
    .SVDMFb.gxt7Jc,
    .JPdR6b.qjTEB,
    .ZXkXSe,
    .EAIfhd,
    .MRHe5c,
    .g3VIld.OFqiSb.Up8vH.Whe8ub.J9Nfi.iWO5td,
    .m2bmxb,
    .ez1Qqf,
    .EqMbD,
    .eejsDc,
    .NDmpVd,
    .UHnyIe,
    .f0Eb9c,
    .gb_ga.gb_fa.gb_za.gb_g.gb_ha.gb_ma,
    .uFOQFe,
    .RW0zMe,
    .IoC5c,
    .CKkvDd,
    .u3WVdc.jBmls,
    .DfQFk.FZpqwf,
    .fEjTrb,
    .u6VcSc,
    .qFmQde,
    .CxSKqd,
    .ZFr60d,
    .KNnOOe.KkJDpb,
    .g3VIld,
    .xr0heb,
    .oLJnCb,
    .OEzlY,
    .F6oa3b,
    .czUUib,
    .HCMEoe,
    .ncFHed,
    .V0wXVe,
    .Nw9uye,
    .gF7x1c,
    .sVAYfc,
    .QKgWhf .nalYvf,
    .GmFLIc,
    .iPjLOe,
    .gb_Lb,
    .Uc,
    .Uc.YJ,
    .yB,
    .mvhxEe,
    c-wiz.jvWPmb.qs41qe div.fEjTrb,
    .vDwXQb,
    content.y96Lof,
    .x2sGwe.aRDqpc.y96Lof,
    .I18wOc {
        background-color: #424242;
    }
    /* コメント部分の色 */
    li.BCNiN,
    .OnSI9b.BCNiN.XkfHGe.g0Pkrd,
    div.SVDMFb,
    .KwDIr.qZbycd,
    .GcESAf:not(.iFJd6c) .EgWNsb,
    .cDhoub:not(.iFJd6c) .QeQGL,
    .pf7Psf.kQxXGc.tgi2ee,
    .JNZBrf,
    .EgWNsb,
    .utcmad,
    .CKe11d,
    .QeQGL,
    .yJbDHc {
        background-color: #616161;
    }
    /* 既読カード */
    div.CxSKqd.PNdSh,
    .CxSKqd.PNdSh.Wj1LYb,
    .CxSKqd.Wj1LYb {
        background-color: #000000;
    }
    /* 背景色 */
    a.gb_Pb,
    .gb_3b,
    ul.gb_da,
    div.OFyC1e,
    .O1bNWe,
    .xqrdOe,
    .OnM0ef,
    .O9OsK,
    .u5oEgd,
    .CIwCoe,
    .SSPGKf,
    .xMujpb,
    .PvjVhe,
    .L1NA8d,
    .gb_rb,
    .gb_Eb,
    .YKZUAc.eejsDc.WH2D3d,
    .gb_aa,
    .gb_Hb,
    .gb_Pg .gb_Tf,
    .mw,
    .kZ,
    .LC5Iqe,
    html,
    body,
    c-wiz,
    .SSPGKf.Jvazdb.nWGHWc.G6GRIc.k7iNHb,
    .Jvazdb {
        background-color: /*[[background]]*/;
    }
    /* コンテンツ、タイトルの文字色 */
    #gb a.gb_ka,
    #gb a.gb_fa,
    #gb#gb a.gb_O,
    a.CuPm0 div.Wbuh5e,
    .gb_ka.gb_Nf,
    .gb_ka.gb_Tf,
    .sXku1c,
    .n9qFx,
    .LDLUuf,
    .vGowKb,
    .fXQgZb,
    .pw,
    div.wftCae,
    .Tuxepf,
    .cDCnlb .kaAt2.KKjvXb,
    .jsery,
    .g6UaYd,
    .Dm8wYc,
    .ByAcB.evb2pb .wftCae,
    .ByAcB.evb2pb .WIyZac,
    .lAVJU,
    .iLGfrb,
    div.c8b3Te,
    .mivp1b,
    .EKledf,
    .MWHCG,
    .jHTpsd,
    .OlDqke,
    .Ww5CL.ex5ZEb,
    .Vz68Kb,
    .RJuGvc,
    .VHmGZd.FdEWOb,
    .gb_Ab,
    .gb_Xb,
    .ikPEid,
    .EWBLie,
    .ThINBe,
    .OEzlY,
    .dw7uce,
    .fssYxc,
    .p1gOie,
    .VHlV9e,
    .mgK5Hf,
    .wh73ab,
    .gMG7Fd,
    .wTLyvb,
    .EkwWPe,
    .qMFWkb,
    .ctg5xf,
    .gb_0b,
    .iPjLOe,
    .PXBBqb .Vdz6sf,
    .RopD0b .skMbkf,
    .rsNDcf .zHQkBf,
    .KNnOOe.KkJDpb,
    .UvY6Nd.qhIQqf,
    .ByAcB .jVjeQd,
    .K7vlC .tL9Q4c,
    .QKgWhf .ffVw8c,
    body,
    span.vGowKb,
    .ibrRye,
    .bOFye,
    .nptHFf,
    .Cy,
    c-wiz.s49ete div.Ww5CL,
    input.whsOnd.zHQkBf,
    header.CULCDb,
    textarea.KHxj8b {
        color: #ffffff;
    }
    /* コンテンツ以外の文字色 */
    a.m3JvWd,
    .kXKgz,
    .qXj2He,
    .IAxesc,
    .o8gkze,
    .wgZQSb,
    .CuPm0 .Xa1Zuc,
    .PpxCsb .t8kvre,
    .PpxCsb .wyNUTc,
    .yB .bE,
    .yB .Fy,
    h1.LbgX9d,
    h2.CLrPTe,
    div.Y7OA7b .A1qsEd,
    .DsIcbd,
    .CjySve,
    .PvjVhe,
    .f81Q3b.Or9bCd .yuvn1,
    .Or9bCd .IaFzsc,
    .s49ete .FGhx7c,
    .s49ete .DPvwYc,
    .rr9Dof,
    .xRbTYb,
    .Xa1Zuc,
    .uyYuVb,
    .Gu1oT,
    .AHNvhd,
    .nxu3pf,
    .hD3bZb,
    .jdiJDd,
    .clmEye,
    .YjfXEc .w1KjDd,
    .u6tzLe,
    .uBkdse,
    .YxJESd,
    .o614gf,
    .pVtChb,
    .vWOjp,
    .Y1C4l,
    .jXyh7e .lAVJU,
    .v7k2xf,
    .utcmad,
    .f6umD,
    .gb_Cb,
    .gb_Zb,
    .DfQFk.FZpqwf .s0QSwb,
    .DfQFk.FZpqwf .T0QPhb,
    .dNF4Ud,
    .sLDTkb,
    .M8ZOee,
    .aNdhqf,
    .awJPSb,
    .tpVlOc.iCPjVb .PBs4Ye,
    .gmFStc,
    .T4ihme .skMbkf,
    .HB4X5d,
    .r2Jbje,
    .IoeYz,
    .F6oa3b,
    .S1BUyf,
    .gRQvvf,
    .qZ2Ghc,
    .yj03vf,
    .TdMJib,
    .wtYpld,
    .lOSrVc,
    .SoN9Rd,
    .RLoLzd,
    .gBmOLc,
    .zMEfce,
    .iTKEvd,
    .gIPV9c .CN1NG,
    .IGKOeb,
    .G7Fho,
    .eda,
    span.Wj5EM,
    .CvqmZc,
    .DPvwYc.QInnmc,
    .WMav5e,
    .lNJ9pc,
    .iOAN1d,
    .qkin4e,
    .LYbPOc,
    content.vRMGwf,
    textarea.ubsg2b {
        color: #E0E0E0;
    }
    /* 区切り線 */
    div.teJoc,
    .DfQFk.FZpqwf,
    header.CULCDb {
        border-color: #9E9E9E;
    }
    div.Hbpt0 {
        border-bottom-color: #9E9E9E;
        border-top-color: #9E9E9E;
    }
    /* ヒント */
    div.iKnz4c.wKzl6e,
    .ndJi5d,
    input.rFVokc {
        color: #757575;
        background-color: #fff0;
    }
    /* ホバー、マウスオーバー */
    a.gb_Nb:hover,
    .gb_Pb:hover,
    li.gb_T:hover .gb_X,
    div.oKubKe[aria-selected="true"],
    .ncFHed .MocG8c.KKjvXb,
    body.cjGgHb .M9kDrd:hover,
    .cjGgHb .M9kDrd:focus,
    content.z80M1.FwR7Pc {
        background-color: #757575;
    }
    body.cjGgHb .n9qFx:focus,
    .cjGgHb .n9qFx:hover {
        background-color: #424242;
    }
    span.Cy:hover {
        color: #9E9E9E;
    }
    /* アクティブ、フォーカス */
    a.M9kDrd.pWQY8d,
    div.DfQFk.ZiUn2 {
        background-color: #616161;
    }
    /* 非アクティブ */
    div.MuKKBb,
    .vrlHIc,
    .cDCnlb .kaAt2 {
        color: #9E9E9E;
    }
    /* 調整 */
    div.iKnz4c,
    .ckMkl {
        overflow-y: hidden;
    }
    div.iKnz4c .u3cfec {
        background-color: #009688;
        background-image: none;
    }
    div.UHnyIe {
        margin-bottom: 1px;
    }
    div.lAVJU {
        max-height: 20px;
    }
    div.lbqc8c,
    .mHqMBe {
        background: linear-gradient(to left, #212121, rgba(255, 255, 255, 0));
    }
    div.Hbpt0 {
        border-bottom: 1px solid #E0E0E0;
        border-top: 1px solid #E0E0E0;
    }
    div.yB {
        border: #212121;
    }
    div.gb_9 .gb_b {
        background-position: -30px -1316px;
        opacity: 1;
    }
    div.gb_Qc.gb_Rc,
    .gb_Rc.gb_Sc {
        background-position: 0 -600px;
    }
    span.l4 {
        background-position: -19px -62px;
    }
}